.global {
    font-family: var(--font-open-sans);
    font-size: 18px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
}

.global h2{
    font-family: var(--font-montserrat);
    color: var(--color-p6);
    font-size: 24px;
    padding-bottom: 10px;
}

.welcome h1{
    font-family: var(--font-montserrat);
    color: var(--color-p8);
    font-size: 32px;
    padding-bottom: 30px;
}

.services span {
    display: inline-block;
    padding-top: 30px;
    color: var(--color-p3);
    font-family: var(--font-montserrat);
    font-weight: bold;
    font-size: 24px;
}

