.footer-bg {
    background: var(--color-p10);
    width: 100%;
}

.footer {
    display:flex;
    gap: 60px;
    color: var(--color-white);
    font: var(--font--open-sans);
    padding: 60px;
    font-size: 24px;
    justify-content: center;
    align-items: baseline;
}

.footer-logo{
    font: var(--font--montserrat);
    color: var(--color-white);
    font-size: 32px;
    font-weight: bold;
}

.footer-servicos ul,
.footer-institucional ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contato h2,
.footer-institucional h2,
.footer-servicos h2{
    font-size: 24px;
    font-weight: semibold;
    text-transform: uppercase;
    padding-bottom: 50px ;
}

.footer-contato {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.footer-contato a{
    padding-bottom: 12px;
}

.footer-redes {
    display: flex;
    gap: 20px;
}

.footer-endereco {
    display: flex;
    background: var(--color-p6);
    font: var(--open-sans);
    color: var(--color-white);
    font-size: 18px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 20px solid var(--color-p10);
}
