.header-bg {
  background-color: var(--color-p10);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: var(--font-montserrat);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.botao-cadastro {
  background: #fff;
  padding: 12px 18px;
  border-radius: 5px;
  color: var(--color-p5);
  font-weight: bold;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.logo {
  font-weight: bold;
}
