/* ============================================= general ====================================================*/

.btn {
  width: 100%;
  font-size: var(--size-font-l);
  max-width: 260px;
  cursor: pointer;
  border: none;
  padding: 7px 0;
  border-radius: 5px;
  color: var(--color-white);
  font-family: var(--font-open-sans);
  background-color: var(--color-p5);
}

.title {
  margin: 0;
  font-size: var(--size-font-3xl);
  font-family: var(--font-monterrat);
  font-weight: var(--font-weight-semibold);
}

.container {
  display: flex;
  gap: 36px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  padding: 30px;
  max-width: var(--maximun-internal-width);
}

:root {
  --image-default-size: 350px;
}

/* ============================================= general ====================================================*/
/* ============================================= services ====================================================*/

.services {
  width: 100%;
  margin: 0 auto;
  max-width: 875px;
  padding: 40px 0;
}

.services__list {
  padding: 12px;
  display: flex;
  overflow: auto;
  gap: 30px;
  justify-content: space-between;
}

.services__list--item {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-p6);
}

span.service__icon {
  width: 40px;
  height: 40px;
  display: block;
}

span.service__icon > img {
  width: 100%;
}

/* ============================================= services ====================================================*/
/* ============================================= search ====================================================*/

.search {
  border-top: 1px solid var(--color-p4);
  border-bottom: 1px solid var(--color-p4);
}

.search__title {
  color: var(--color-p8);
}

.search__fields {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.search__input {
  width: 100%;
  height: 50px;
  max-width: 600px;
  border-radius: 4px;
  font-size: var(--size-font-m);
  padding-left: 60px;
  box-sizing: border-box;
  color: var(--color-p2);
  border: 1px solid var(--color-p4);
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: var(--color-p2);
}

.search__input--service {
  background: url("../img/icons/search/search.svg") no-repeat 8px center;
}

.search__input--location {
  background: url("../img/icons/search/marker.svg") no-repeat 8px center;
}

/* ============================================= search ====================================================*/
/* ============================================= about ====================================================*/

.about__title {
  color: var(--color-p8);
}

.about__description {
  font-size: var(--size-font-m);
  color: var(--color-p6);
  font-family: var(--font-open-sans);
}

.about__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about__list--item {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
}

.about__list--item > img {
  width: 100%;
  max-width: 100px;
  height: 100px;
}

.about__item--title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-p8);
}

.about__item--description {
  font-size: 16px;
  color: var(--color-p6);
}

@media screen and (max-width: 768px) {
  .about__list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .about__list--item {
    padding: 16px;
    max-width: 400px;
  }

  /* .about__list--item {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
  } */
}

/* ============================================= about ====================================================*/
/* ============================================= feedback ====================================================*/

.feedback {
  margin-top: 50px;
  padding: 24px;
  min-height: 400px;
  position: relative;
  align-items: flex-start;
  color: var(--color-white);
  font-family: var(--font-open-sans);
  background-color: var(--color-p10);
  border-radius: 16px 0 16px 0;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(100% - 400px);
}

.feedback__content--message {
  font-size: var(--size-font-m);
}

.feedback__content--owner {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.feedback__image {
  position: absolute;
  width: var(--image-default-size);

  right: 0;
  bottom: 0;
}

.feedback__image > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .feedback__content {
    width: 100%;
    align-items: center;
  }

  .feedback__image {
    display: none;
  }
}

/* ============================================= feedback ====================================================*/
/* ============================================= invite ====================================================*/

.invite {
  padding: 50px 30px;
  display: flex;
  align-items: flex-end;
  position: relative;
  font-family: var(--font-open-sans);
  min-height: var(--image-default-size);
}

.invite__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(100% - 400px);
}

.invite__content--title {
  color: var(--color-p10);
}

.invite__content--list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.invite__list--item {
  font-size: var(--size-font-m);
  color: var(--color-p5);
}

.invite__image {
  width: 100%;
  max-width: 400px;

  position: absolute;
  left: 0;
  bottom: -5px;
}

.invite__image > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .invite__content {
    width: 100%;
    align-items: center;
  }

  .invite__content--title {
    max-width: 80%;
  }

  .invite__content--list {
    max-width: 80%;
  }

  .invite__image {
    display: none;
  }
}
