@import url("/src/css/reset.css");
@import url("/src/css/variables.css");

.container {
  box-sizing: border-box;
  max-width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
