    
#conteudo-principal {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 110px;
    align-items: center;
    width: 1200px;    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}
 
#conteudo-principal img {
    width: 775px;
    height: 493px;
    left: 348px;
    top: 447px;
}