@import url("./main.css");
@media screen and (min-width:400px) {
  body
}

h2 {
  font-family: var(--font-open-sans);
  font-size: 24px;
}

.perfil {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 5px 40px;
  border-left: 1px solid var(--color-p2);
}

.perfil-title {
  font-family: var(--font-montserrat);
  color: var(--color-p8);
  font-size: 24px;
}

.perfil-inicio {
  display: flex;
  font-family: var(--font-open-sans);
  font-size: 16px;
  justify-content: center;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-p5);
  font-weight: semibold;
}

.img-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--color-p4);
  background-color: var(--color-p3);
  overflow: hidden;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
}

.perfil-info span {
  font-size: 48px;
  color: var(--color-p7);
  font-weight: bold;
}

.feedback1 {
  background-color: var(--color-p1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-p3);
  border-radius: 5px;
}

.dados-pessoais {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
}

.cliente1 {
  font-size: 16px;
  color: var(--color-p6);
  font-weight: bold;
}

.perfil-dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

input {
  box-sizing: border-box;
  border: 1px solid #e68a9a;
  border-radius: 5px;
  height: 36px;
  width: 100%;
  color: var(--color-p10);
  padding: 0 15px;
  outline-color: var(--color-p4);
}

label {
  font-family: var(--font-open-sans);
  font-size: 16px;
  color: var(--color-p10);
  font-weight: bold;
}

.nome-celular {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}

.senha-confirmar {
  display: flex;
  gap: 40px;
}


.dados-profissionais {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
  
}

#sobre-voce{
  
  height: 100px;
  border: 1px solid #e68a9a;
  border-radius: 5px;
  color: var(--color-p10);
  padding: 0 15px;
  outline-color: var(--color-p4);
}
#sobre-voce textarea{
  display: flex;
  flex-direction: column;
}

button.btn-adicionar{
  margin-top: 5px;
  margin-bottom: 80px;
  margin-left: 180px;
  width: 200px;
  height: 40px;
  border: none;
  background: var(--color-p6);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  
}
button.btn-adicionar:hover{
  background: var(--color-p3);
  cursor: pointer;
}

.box-dados {
  display: flex;
  width:65%;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  margin: 0 auto;
}

.sua-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
  gap: 30px;
  margin-bottom: 30px;
}

.suas-fotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 110px;
  gap: 20px;
}

.endereco-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
  margin-right: 175px;
}

 .endereco{
  display: block;
  gap: 40px;
  width: 100%;
  margin-left: 80px;
  justify-content: space-between;
 }



.cep-rua-num {
 
  padding: 80px; 
  width:  50%;
}

.bairro-cidade-estado {
  gap: 40px;
  width: 50% 
}

#box-endereco{
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-salvar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 70px;
  width: 240px;
  height: 40px;
  border: none;
  background: var(--color-p6);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.btn-salvar:hover {
  background: var(--color-p3);
  cursor: pointer;
}
.border {
  border-bottom: 3px solid var(--color-p10);
  display: flex;
  margin:  0 auto;
  margin-bottom: 80px;
  margin-top: -80px;
  justify-content: center;
  width: 700px;
  height: 100px;
}