@import url("./main.css");
@media screen and (min-width:400px) {
  body
}

h2 {
  font-family: var(--font-open-sans);
  font-size: 24px;
}

.perfil {
  display: flex;
  align-items: center;
  margin-top: 60px;
  padding: 5px 40px;
  border-left: 1px solid var(--color-p2);
}

.perfil-title {
  font-family: var(--font-montserrat);
  color: var(--color-p8);
  font-size: 24px;
}

.perfil-inicio {
  display: flex;
  font-family: var(--font-open-sans);
  font-size: 16px;
  justify-content: center;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-p5);
  font-weight: semibold;
}

.img-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--color-p4);
  background-color: var(--color-p3);
  overflow: hidden;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
}

.perfil-info span {
  font-size: 48px;
  color: var(--color-p7);
  font-weight: bold;
}

.feedback1 {
  background-color: var(--color-p1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-p3);
  border-radius: 5px;
}

.dados-pessoais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
}

.cliente1 {
  font-size: 16px;
  color: var(--color-p6);
  font-weight: bold;
}

.perfil-dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

input {
  box-sizing: border-box;
  border: 1px solid #e68a9a;
  border-radius: 5px;
  height: 36px;
  width: 100%;
  color: var(--color-p10);
  padding: 0 15px;
  outline-color: var(--color-p4);
}

label {
  font-family: var(--font-open-sans);
  font-size: 16px;
  color: var(--color-p10);
  font-weight: bold;
}

.nome-celular {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}

.senha-confirmar {
  display: flex;
  gap: 40px;
}


.dados-profissionais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
  
}

#sobre-voce{
  
  height: 100px;
  border: 1px solid #e68a9a;
  border-radius: 5px;
  color: var(--color-p10);
  padding: 0 15px;
  outline-color: var(--color-p4);
}
#sobre-voce textarea{
  display: flex;
  flex-direction: column;
}

.box-dados {
  display: flex;
  width: 45%;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  margin: 0 auto;
}

#arquivo {
  display: none;
  background-color: var(--color-p2);
  
}

#arquivo label{ 
  margin-top: 15px;  
  gap: 10px;
  width: 200px;
  height: 36px;
  border: 1px solid var(--color-p3);
  border-radius: 5px;
  background-color: var(--color-p2);
  color: var(--color-p10);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.sua-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
  gap: 30px;
  margin-bottom: 30px;
}

.suas-fotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 110px;
  gap: 20px;
}

.endereco-titulo {
  display: flex;
  margin-left: 400px;
  gap: 20px;
  margin-top: 20px;
  color: var(--color-p10);
  font-size: 24px;
  font-weight: bold;
}

.dados-endereco{
  
  display: block;
  margin-top: 20px;
  margin-left: 300px;
  
}
  
  .dados-endereco input{
    width: 300px;
    display: block;
    gap: 10px;
    display: flex;
justify-content: center
;  }
textarea{
  resize: none;
}

.cep-rua-num {
  display: grid;
  grid-template-columns: 60px 60px;
  padding: 100px;
  display: inline-block;
  
}

.bairro-cidade-estado {
 display: inline-block;
  
}

.btn-salvar {
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: 320px;
  width: 240px;
  height: 40px;
  border: none;
  background: var(--color-p6);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.btn-salvar:hover {
  background: var(--color-p3);
  cursor: pointer;
}

.border {
  border-bottom: 3px solid var(--color-p10);
  display: flex;
  margin:  0 auto;
  margin-bottom: 107px;
  justify-content: center;
  width: 700px;
  height: 100px;
}