@import url("./main.css");

/*Foto de perfil e dados de contato*/

.botao-voltar {
  color: var(--color-p4);
  font: var(--font-open-sans);
  font-weight: bold;
  padding-top: 88px;
  padding-bottom: 12px;
}
.dados-bg {
  background-color: var(--color-p3);
  padding: 20px;
}
.dados-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.dados-container h1 {
  text-align: center;
}
.perfil-circle {
  display: flex;
  justify-content: center;
  width: 100%;
  width: 300px;
  height: 300px;
}

.perfil-circle img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid var(--color-p5);
  border-radius: 50%;
}

.dados-pessoais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: -20px;
}

.dados-pessoais h1 {
  font: var(--font-montserrat);
  font-size: 32px;
  font-weight: bold;
  color: var(--color-white);
}

.dados-pessoais h2 {
  font: var(--font-open-sans);
  font-size: 24px;
  font-weight: regular;
  color: var(--color-black);
}

.dados-pessoais span {
  font-size: 48px;
  color: var(--color-white);
  font-weight: semibold;
}

.dados-nota {
  margin-top: -10px;
  display: flex;
}

.dados-contato {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: var(--font-open-sans);
}

.dados-contato h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-p10);
}

.dados-contato ul {
  font-size: 24px;
  color: var(--color-black);
}

.botao-whats a {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  gap: 15px;
  border: 2px solid var(--color-p6);
  border-radius: 5px;
  background: #a2cb2e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.dados-redes {
  padding-top: 15px;
  display: flex;
  gap: 20px;
}

/* Sobre */

.sobre-profissional {
  font: var(--font-open-sans);
  font-size: 16px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-black);
}

.sobre-profissional h2 {
  font-weight: bold;
  color: var(--color-p4);
  font-size: 24px;
}

.sobre-profissional ul {
  list-style: unset;
  padding-left: 40px;
  color: var(--color-p3);
}

/* Portfolio */

.portfolio-bg {
  background: var(--color-p3);
  width: 100%;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  font: var(--font-open-sans);
}

.portfolio-title {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-size: 32px;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.portfolio-img img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

/* Feedbacks */

.feedback-title {
  display: flex;
  justify-content: center;
  font: var(--font-montserrat);
  font-size: 16px;
  color: var(--color-p10);
  padding-top: 60px;
  padding-bottom: 60px;
}

.feedbacks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 60px;
  text-align: center;
}

.feedbacks h3 {
  color: var(--color-p6);
}

.fb1,
.fb3 {
  display: flex;
  flex-direction: column;
  background: var(--color-p1);
  border: 1px solid var(--color-p6);
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-radius: 5px;
}

.fb2 {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-p6);
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-radius: 5px;
}

.feedback-comentar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
  color: var(--color-p10);
  font-size: 16px;
}

textarea {
  resize: none;
}

.button {
  display: flex;
  margin: 0 auto;
  width: 240px;
  height: 40px;
  border: none;
  background: var(--color-p5);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: var(--color-p3);
  cursor: pointer;
}

.feedback-nota {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 60px;
}

.feedback-nota ul {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.feedback-nota {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 60px;
}

.feedback-nota p {
  font-weight: bold;
}

.feedback-estrelas {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.feedback-estrelas li:hover {
  transform: scale(1.3);
}

#star-rating {
  color: #ffea52;
}

@media (max-width: 900px) {
  .dados-pessoais h1 {
    font-size: 24px;
  }
  .dados-pessoais h2 {
    font-size: 18px;
  }
  .dados-pessoais span {
    font-size: 18px;
    font-weight: bold;
  }
  .dados-contato h2,
  .dados-contato ul {
    font-size: 18px;
  }
  .botao-whats a {
    font-size: 14px;
  }
  .botao-whats img {
    width: 20px;
  }
  .perfil-circle img {
    width: 200px;
    height: 200px;
    align-self: center;
  }
}

@media (max-width: 700px) {
  .dados-bg {
    padding: 0px;
  }
  .dados-container {
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
  }
  .dados-contato h2 {
    align-self: baseline;
  }
  .dados-contato a {
    align-items: center;
  }
  .dados-contato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .dados-redes {
    align-items: center;
    justify-content: center;
  }
}
