@import url("./main.css");

.main {
  min-height: calc(100vh - (360px + 78px));
}

.service__category {
  display: flex;
  gap: 25px;
  align-items: center;
  border-left: 2px solid var(--color-p2);
  padding: 20px;
  font-family: var(--font-mont-serrat);
  font-size: var(--size-font-4xl);
  font-weight: bold;
  color: var(--color-p8);
  margin-bottom: 40px;
}

.professional-card {
  display: flex;
  max-width: 900px;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.professional-card__image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.professional-card__image img {
  width: 300px;
}

.professional-card__infos {
  display: flex;
  flex-direction: column;
}

.professional-card__name {
  font-size: var(--size-font-4xl);
  font-weight: bold;
  color: var(--color-p8);
}

.professional-card__images {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.professional-card__location {
  color: var(--color-p10);
  font-size: var(--size-font-m);
  font-weight: bold;
}

.professional-card__image li {
  width: 150px;
}

.professional-card__images li img {
  width: 100%;
}

.professional-card__feedback {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.professional-card__feedback-title {
  color: var(--color-p8);
  font-size: var(--size-font-base);
  font-weight: bold;
}

.professional-card__feedback-owner {
  color: var(--color-p5);
  font-size: var(--size-font-s);
  font-weight: bold;
}

.professional-card__feedback-message {
  font-size: var(--size-font-s);
  font-weight: bold;
}

.professional-card__contact {
  background-color: var(--color-p5);
  border: none;
  border-radius: 5px;
  max-width: 150px;
  width: 100%;
  height: 47px;
  color: #fff;
  align-self: flex-end;
  padding: 3px;
  margin-top: 10px;
}
