@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* colors */

:root {
  --color-p1: #f8d7e5;
  --color-p2: #f4b5c4;
  --color-p3: #e68a9a;
  --color-p4: #e16f83;
  --color-p5: #d1586d;
  --color-p6: #bb2a49;
  --color-p7: #9d1c3f;
  --color-p8: #8b1031;
  --color-p9: #7C0827;
  --color-p10: #6a001d;

  --color-black: #000000;
  --color-white: #ffffff;
}

.cor-p1 {
  color: var(--color-p1);
}

.cor-p2 {
  color: var(--color-p2);
}

.cor-p3 {
  color: var(--color-p3);
}

.cor-p4 {
  color: var(--color-p4);
}

.cor-p5 {
  color: var(--color-p5);
}

.cor-p6 {
  color: var(--color-p6);
}

.cor-p7 {
  color: var(--color-p7);
}

.cor-p8 {
  color: var(--color-p8);
}

.cor-p9 {
  color: var(--color-p9);
}

.cor-p10 {
  color: var(--color-p10);
}

.cor-preto{
  color: var(--color-black);
}

.cor-branco{
  color: #ffffff;
}
/* fonts */

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}


